// FONTS
$Inter: Inter, sans-serif;

$smText: 20px;
$mdText: 25px;
$lgText: 30px;


// COLORS
$blackColor: #000;
$whiteColor: #FFF;

$bgColor: #202124;

$lightGrey: #e8eaed;
$grey: #303134;
$darkGrey: #121212;
