// FONTS
$Inter: Inter, sans-serif;

$mdText: 25px;



// COLORS
$blackColor: #000;
$whiteColor: #FFF;

$bgColor: #202124;

$lightGrey: #e8eaed;
$grey: #303134;
$darkGrey: #121212;

$hoverColor: #000;
